:root{
    --primary-color:#9E1946;
    --secondary-color:#FF6400;
    --sec-shade:#ffa400;
    --base-color:#F5F5F5;
    --hover-color:#E6295F;
    --font:cursive;
    --sec-font:verdana;




}

.topbar{
background-color: var(--primary-color);
color:var(--base-color);
font-family: var(--font);
padding: 5px 0;
}

.fa-facebook,.fa-twitter,.fa-instagram,.fa-snapchat-ghost,.fa-user,.fa-shopping-bag{
color:var(--base-color);
font-size: 17px;
margin-right: 5px;

}



.fa-envelope,.fa-phone{
    color:var(--base-color);
    font-size: 12px;
    }

    .font{
        font-size: 13px;

    }

    .logo{
        color: var(--secondary-color);
        font-family: var(--font);
        font-size: 28px;
        font-weight: bolder;

    }

    .nav-item{
        margin-right: 2em;

    }
    
    .nav-link{
        color: var(--secondary-color);
        font-size: 15px;
        font-family: var(--sec-font);
        font-weight: bolder;
        

    }

    .nav-link:hover{
        border-bottom:3px solid var(--secondary-color);
        background-color: var(--base-color);
        color: var(--hover-color) !important;

    }

    .fa-facebook:hover,.fa-twitter:hover,.fa-instagram:hover,.fa-snapchat-ghost:hover,.fa-user:hover,.fa-shopping-bag:hover,.footer1 a:hover{
        color: var(--hover-color) !important;

    }


    .active a{
        background-color: var(--hover-color);
        color: var(--base-color);
    }

    .navbar-toggler-icon,button{
        color: var(--base-color);
        border: none !important;
        background-color:var(--secondary-color) ;
        font-size: 2em;


    }

    button:focus {
        outline: none;
        box-shadow: none;
      }
    

 
      .margin{
          margin: 3em 0em;
          padding-top:0.6em ;
          padding-bottom:0.1em ;
          font-size: 28px;
          font-weight: bolder;
          font-family: var(--font);
          background-color: var(--primary-color);
          color:var(--base-color) ;
      }

      .pcard{

        padding: 2em;
        padding-top:2.6em ;
      }

      .gradient{
        background-image: radial-gradient(circle,#ff2400,var(--secondary-color), var(--sec-shade),
        #ff3a00,var(--hover-color));
    }

    @media (min-width: 576px) {
        .card-columns {
            column-count: 2;
        }
    }
    
    @media (min-width: 900px) {
        .card-columns {
            column-count: 2;
        }
    }
    
    @media (min-width: 950px) {
        .card-columns {
            column-count: 3;
        }
    }
    
    @media (min-width: 1400px) {
        .card-columns {
            column-count: 6;
        }
    }

    .footer1{

        background-color: black;
        color:var(--base-color);
        font-family: var(--font);
        padding: 5em;
        margin-top: 5.5em;
            
    }

    .footfont{
        font-size: 20px;
        font-weight: bolder;

    }

    .footfontsm{
        font-size: 10px;

    }

    a:hover{
        text-decoration: none;
    }

    .footer1 a{
        color:var(--base-color);


    }


    .fd1{
        padding-left: 7em;
    }

    @media (min-width:690px) and (max-width:764px) {
        .footfont{
            font-size: 17px;
            font-weight: bolder;
    
        }

        .fd1{
            padding-left: 10.7em;
        }
    }

    @media (min-width:768px) and (max-width:990px) {
        .footfont{
            font-size: 15px;
            font-weight: bolder;
    
        }

        .fd1{
            padding-left: 1em;
        }
    }

    @media (min-width:992px) and (max-width:1198px) {
        .footfont{
            font-size: 17px;
            font-weight: bolder;
    
        }

        .fd1{
            padding-left: 7em;
        }
    }

    @media (min-width:1200px) {
        .footfont{
            font-size: 24px;
            font-weight: bolder;
    
        }

        .fd1{
            padding-left: 10em;
        }
    }

    @media (max-width:540px) {
        .footfont{
            font-size: 13px;
            font-weight: bolder;
    
        }

        .fd1{
            padding-left: 4em;
        }
    }

    @media (max-width:375px) {
        .font{
            font-size: 7px;
            font-weight: bolder;
    
        
        }

        .fd1{
            padding-left: 1em;
        }

        
    }

  
    
.about{
    padding-left: 0.4em;
    padding-top: 0.8em;
    padding-right: 0.4em;
    font-family: var(--font);
    font-size: 78px;
    color: var(--base-color);
    font-weight: bolder;

}


.gradient1{
    font-size: 2em;
    background: -webkit-linear-gradient(var(--secondary-color), var(--sec-shade),var(--secondary-color),
    var(--base-color),var(--primary-color),var(--primary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .abouttext{
      color: var(--base-color);
      padding: 3em;
      font-weight: bold;
  }